#!/usr/bin/python
# -*- coding: utf-8 -*-

import os, sys, time
import subprocess as sp
import pprint

PLUGIN_NAME = 'zpool_df'

# FIXME: remove sudo, if below commit is merged into Ubuntu LTS release.
# https://github.com/kernelOfTruth/zfs/commit/6645ae9f0d1e4da04b2aa454ebe65927a259e5a8

def get_zpool_list():
  child = sp.Popen(['sudo', 'zpool', 'list'], stdout=sp.PIPE)
  child.wait()
  if child.returncode != 0:
    sys.stderr.write('Failed to get zpool list.')
    sys.exit(2)

  zpool_list = []

  zpool_lines = child.stdout.read().splitlines()
  zpool_lines.pop(0)
  
  for line in zpool_lines:
    zpool_list.append(line.split()[0])

  return zpool_list

def get_zpool_usage_info(zpool):
  child = sp.Popen(['sudo', 'zpool', 'get', '-pH', 'size,allocated,free', zpool],
                   stdout=sp.PIPE)
  child.wait()
  if child.returncode != 0:
    sys.stderr.write('Failed to get zpool info.')
    sys.exit(2)

  info_list = child.stdout.read().splitlines()
  usage_info = {}
  for line in info_list:
    param = line.split()
    usage_info[param[1]] = int(param[2])
  
  return usage_info

def get_zpool_info_map():
  info_map = {}
  for pool_name in get_zpool_list():
    info_map[pool_name] = get_zpool_usage_info(pool_name)
  return info_map

############################################################
hostname = os.getenv('COLLECTD_HOSTNAME') or os.popen('hostname').read().rstrip()
interval = (os.getenv('COLLECTD_INTERVAL') and float(os.getenv('COLLECTD_INTERVAL'))) or 30

while True:
  for name, info in get_zpool_info_map().items():
    for item, value in info.items():
      print 'PUTVAL %s/%s/%s-%s-%s interval=%s N:%d' % (
        hostname, PLUGIN_NAME, 'gauge', name, item, interval, value
      )
  sys.stdout.flush()
  time.sleep(interval)
